/*Color palatte:
CFF09E
A8DBA8
79BD9A
3B8686
0B486B
edf7fd
red: bd797a;
*/

body{
	font-family: 'Roboto', sans-serif;
}

.container-fluid{
	margin: 0;
padding: 0;

}
.navbar{
	margin-bottom: 0;
	background-color: #79BD9A;
	height: 60px;
	border: none;
	border-radius: 0;
	    padding-right: 15px;
}
.navbar-default .navbar-nav>li>a{
	color: #edf7fd;
	font-size: 14pt;
	padding-top: 20px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #0B486B;
	transition: all .5s ease-in-out;
}
.navbar-header{
	font-family: 'Righteous', 'Roboto', sans-serif;

}
.navbar-header a{
	font-size: 28pt;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:visited{
	 color: #bd797a;
}

.navbar-default .navbar-brand {
    color: #bd797a;
    position: relative;
    top: 4px;
    left: 15px;
}

ul.navbar-nav .active{
	color: #0B486B !important;
}
.tagline{
	    width: 750px;
    margin: 0 auto;
    position: relative;

}
h2, h3, h4{
	font-weight: normal;
	color: #3B8686;
	  text-align: center;
}
.intro{
	width: 100%;
	height: 600px;
	background-color: #FBFDFC;
	text-align: center;
	margin: 0;
	color: #3B8686;
	margin-top: 60px;
}
.content{
/*	margin-top: 60px;*/
}
.intro h2{
	font-size: 38pt;
	font-weight: 900;
	margin-top: 200px;
	
}

.intro h2, .intro h3{
	text-shadow: 1px 1px 1px #f0fae0;
}
h3{
	font-size: 34pt;
	font-weight: 700;
	margin-bottom: 35px;

}

.testimonial{
	height: 300px;
}

.testimonial{
	background-color: #CFF09E;
}
.testimonial p {
	font-size: 24pt;
}

.testimonial .customer{
	font-size: 14pt;
}

.quote{
	    width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.coupon{
	height: 300px; 
	background-color: #A8DBA8;
}
h4{
	font-size: 28pt;
	font-weight: 500;
	margin: 50px;
}

#couponBtn{
	position: relative;

}
.tower{
	padding:0;
	background: 
	linear-gradient(rgba(255,240,0,0.15), rgba(0,0,0, 0.15) ),
    no-repeat center/100% url("../images/rsz_homepage.jpg");
    height: 683px;
}

.btn-default{
	background-color: #bd797a;
	box-shadow: 0 8px #a85354;
	border-radius: 10px;
	border-color: #bd797a;
	color: white;
	outline: none;
	padding: 6px 25px;
    font-size: 14pt;
}
.btn-default:hover{
    color: white;
    background-color: #b56869;
    border-color: #b56869;
}

.btn-default:active{
	 background-color: #b56869;
  box-shadow: 0 5px #a85354;
  transform: translateY(3px);
   outline: none;

}
.btn-default:focus{
	  color: white;
    background-color: #b56869;
    border-color: #b56869;
 outline: none;
}


.btn-primary{
	 background-color: #79BD9A;
	 box-shadow: none;
    border-radius: 0;
    border-color: #79BD9A;
    color: white;
    outline: none;
    padding: 5px 25px;
    font-size: 12pt;
}
.btn-primary:hover{
    color: white;
    background-color: #4d9c74;
    border-color: #4d9c74;
}

.btn-primary:active{
	 background-color: #4d9c74;
   outline: none;

}
.btn-primary:focus{
	color: white;
    background-color: #4d9c74;
    border-color: #4d9c74;
 	outline: none;
}



.btn-lg{
	padding: 10px 20px;
	font-size: 20pt;
}

.signUp{
	margin-top: 8px;
}

.coupon .form-control{
	height: 50px;
}

.form-control:focus {
    border-color:#3B8686;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(59, 134, 134, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(59, 134, 134, 0.6);
}

.selection{
	height: 400px;
	text-align: center;
	background-color: #A8DBA8;

}
.selection h4{
	    margin-top: 100px;
}
#option1btn, #option2btn{
	margin: 0 40px;
}

.content .title{
	text-align: center;
	background-color: #A8DBA8;
	padding: 20px;
}

.title h3{
    border-bottom: 2px solid #edf7fd;
    width: 850px;
    margin: 0 auto;
    padding: 30px 0;

}

#option1{
	background-color: #edf7fd;
	height: 750px;
	text-align: center;
}

.brand{
	color: #bd797a !important;
	font-family: 'Righteous', 'Roboto', sans-serif;
	font-weight: normal;
}

.bigNum1,.bigNum2, .bigNum3 {
	font-size: 34pt;
	text-align: center;
	margin-bottom: 15px;
	font-weight: 500;
}

.instruction{
	font-size: 18pt;
	text-align: center;
	color: #3B8686;
	margin: 30px 0;
}
.description1, .description2, .description3{
	font-size: 14pt;
	margin-bottom: 5px;
	margin-top: 40px;
}

.itemList1, .itemList2, .itemList3{
		list-style: none;
	font-size: 16pt;
}
.description1, .itemList1,.bigNum1{
	color: #3B8686; 
}

.description2, .itemList2,.bigNum2{
	color: #0B486B; 
}
.description3, .itemList3,.bigNum3{
	color: #bd797a; 
}

#upload{
	margin-top: 30px;
}

#option1 h4, #option2 h4{
	margin: 40px 0;
}
#option2{
	height: 650px;
	background-color: #79BD9A;
	text-align: center;
	color: #edf7fd;
}
#option2 h4{
	color:  #edf7fd;
	margin-bottom: 50px;
}
.needHelp{
	font-size: 24pt;
}
.ourTeam{
	font-size: 20pt;
}
 
#submit{
	margin-top: 40px;
}

.btn-default a{
	color: white;
	text-decoration: none;
}
.btn-default a:hover{
	color: white;
}
.message{
	margin: 50px 0;
}

.fileInput{
	background-color: #edf7fd;
	margin: 0 20px;
	padding: 30px 50px;

}
.fileInput .input-group{
	padding: 0 20px;
	height: 40px;
}

.fileInput h4{
	margin: 0 30px;
}

#settings{
	    padding: 30px 50px;
	    padding-top: 0;
	    margin-bottom: 0;
}
.settingLabel{
	font-size: 14pt;
	color: #0B486B;
}
#settings .radio-inline{
	margin: 0 20px;
}
#settings .color .radio-inline p{
	font-size: 12pt;
	color: #0B486B;
	text-align: center;
	margin: 10px 0;
}
#settings .radio-inline img{
	display: block;
	margin: 0 auto;
}

#settings .color .radio-inline input[type="radio"]{
	margin-top: 20px;
}

#settings .material .radio-inline input[type="radio"]{
	margin-top: 12px;
}

.material{
	text-align: left;
}

#settings .material .radio-inline .termExp{
	margin: 0; 
	font-size: 10pt;
	    margin-top: -10px;
	color: #0B486B;
}

#settings .material .radio-inline{
	margin: 10px 20px;
}

.layer .form-control{
	margin-left: 15px;
}

.or{
	font-size: 24pt;
	text-align: center;
	font-weight: 500;
	color: #0B486B;
}


.chooseDefault{
	width: 280px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#pay{
		background-color: #edf7fd;
}

.address, .summary, .payment{
	    padding: 0 50px;
    padding-bottom: 50px;
}
.divider{
	border-right: 1px dashed #A8DBA8;
}

#copyAddress{
	margin-top: 30px;
}

#pay h5{
	text-align: center;
	font-size: 20pt;
	font-weight: normal;
	color: #3B8686;
	margin-bottom: 20px;
}
.summary{
		color: #0B486B;
}

.summary .tableHeader{
	font-size: 16pt;


}

.summary .tableItem{
	font-size: 14pt;
	margin: 5px 0;
}

.payment .expiration{
	padding: 0;
}

.payment .submit span{
	font-size: 14pt;
	color: #0B486B;
	margin: 0 20px;
}

#paypal{
	cursor: pointer;
}

#pay, #settings{
	display: none;
}

.file-error-message pre{
	display: none;
}

.designForm{
	width: 1000px;
	margin: 40px auto;
	 color: #0B486B;
}


.designForm .form-group {
    margin-left: 0;
    margin-right: 0;
}

.design .title{
	margin-bottom: 40px;
}

.upload .title h3{
	border-bottom: none;
}
#submitForm{
	margin-bottom: 40px;
}

.contact{
	    width: 1000px;
    margin: 0 auto;
  color: #0B486B;
  	    margin-bottom: 40px;
}
.contactInfo h5{
	margin-bottom: 20px;
	font-size: 16pt;
}
.contactInfo {
	padding-left: 40px;

}
.contactForm{
	padding-right: 40px;
}

.contactTitle{
	margin-bottom: 40px;
}

#login, #signup{
	color: #0B486B;
	top: 200px;
}

.modal-body{
	padding: 20px 40px;
}
.forgot{
	color: #3B8686;
	text-decoration: none;
}
.forgot:hover, .forgot:active, .forgot:focus{
	color: #0B486B;
	text-decoration: none;

}

#signup h4{
	color: #bd797a;
}

#feedback{
	background-color: #79BD9A;
	margin: 0 auto;
    text-align: center;
    display: none;
}
#feedback h4{
	color: #edf7fd;
	margin-bottom: 20px;

}
#feedback p {
	font-size: 18pt;
	color: #edf7fd;
	margin-bottom: 40px;
}
.printer{
	    margin-top: 40px;
}
.feedbackmsg{
	font-size: 14pt;
	color:#3B8686;
	display: none; 
}
/*footer*/
html {
  position: relative;
  min-height: 100%;
}

.footer {
 
  bottom: 0;
  width: 100%;
  background-color: #0B486B;
  color: white;
  text-align: center;
}

.footer.row{
	margin: 0;

}

.footer p{
	margin: 0;
}

.footer .group1, .footer .group2{
	margin: 15px auto;
}

.copyright{
	margin-bottom: 15px;
}

.overlay{

	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .3;
    display: none;
}